In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\s0116731\Desktop\happiness_score_dataset.csv')
# data.head()
happiness = data.drop(['Country','Happiness Rank','Region'],axis=1)

# happiness.head()

from sklearn.model_selection import train_test_split
X = happiness[['Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Trust (Government Corruption)','Generosity']]
y = happiness['Happiness Score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
happiness = scale.fit_transform(happiness)

from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

y_predict = linear_reg.predict(X_test)
pd.DataFrame({'Predicted': y_predict})

    Predicted
0    7.068708
1    5.950191
2    4.383280
3    4.593219
4    5.841652
5    4.221798
6    4.097017
7    4.021906
8    4.664970
9    5.340357
10   6.181067
11   4.637854
12   6.022710
13   5.966517
14   3.677804
15   5.968326
16   4.624460
17   5.065082
18   5.045112
19   5.734426
20   6.605413
21   6.125318
22   6.283466
23   7.000817
24   6.089036
25   6.020489
26   5.114236
27   6.752856
28   4.856610
29   4.115207
30   4.937904
31   6.543166

In [3]:
pd.DataFrame({'Actual': y_test, 'Predicted': y_predict})

     Actual  Predicted
7     7.364   7.068708
44    5.995   5.950191
113   4.633   4.383280
120   4.514   4.593219
63    5.716   5.841652
122   4.507   4.221798
121   4.512   4.097017
139   3.956   4.021906
109   4.686   4.664970
92    5.007   5.340357
24    6.786   6.181067
141   3.904   4.637854
26    6.670   6.022710
60    5.770   5.966517
80    5.194   3.677804
97    4.885   5.968326
129   4.297   4.624460
98    4.876   5.065082
142   3.896   5.045112
56    5.828   5.734426
45    5.987   6.605413
33    6.455   6.125318
59    5.791   6.283466
8     7.286   7.000817
40    6.168   6.089036
37    6.298   6.020489
101   4.857   5.114236
19    6.901   6.752856
144   3.819   4.856610
108   4.694   4.115207
51    5.889   4.937904
54    5.848   6.543166